.associations{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item{
    flex: 0 1 50%;
    box-sizing: border-box;
    padding: 30px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
    transition: .19s box-shadow;
    z-index: 1;
    &:hover{
      z-index: 200;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      .associations__title,.associations__link-more{
        color: $DEEP-BLUE;
      }
      .associations__link-more-icon{
        transform: translateX(10px);
      }
    }

    .associations__main{
      display: flex;
      position: relative;
      height: 100%;
      flex: 1 0 100%;
      flex-direction: column;
      justify-content: space-between;
    }

    .associations__title{
      color: $LIGHT-TEXT;
      font-size: 20px;
      font-weight: bold;
      transition: .19s color;
    }

    .associations__data{
      flex: 1 0 auto;
      margin-bottom: 20px;
    }

    .associations__link-more{
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $DARK-GREY;
      font-size: 13px;
      font-weight: 600;
      transition: .19s color;
    }

    .associations__link-more-icon{
      font-size: 18px;
      margin-left: 10px;
      transition: .19s transform;
    }
  }

  &__card{
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 250px;
    border-radius: 8px;
    box-sizing: border-box;
    &-img{
      position: absolute;
      width: 100%;
      height: auto;
    }

    .associations__data{
      flex: 1 0 auto;
      margin-bottom: 20px;
    }

    .associations__title{
      color: #FFF;
      font-size: 24px;
      font-weight: 800;
    }

    .associations__desc{
      color: #FFF;
      font-weight: 300;
      font-size: 16px;
    }
  }

  &__card-after{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparentize($DEEP-BLUE,0.1);
  }

  &__card-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
  }

  &__header{
    margin-bottom: 20px;
  }

  &__desc{
    @extend %text
  }
}

@media screen and (min-width: 880px){
  .associations{
    &__item{
      &:nth-child(4n-1), &:nth-child(4n-2){
        background: #FFF;
      }
    }
  }
}
@media screen and (max-width: 880px){
  .associations{
    &__item{
      flex-basis: 100%;
      &:nth-child(2n){
        background: #FFF;
      }
    }
  }
}