$DEEP-BLACK: #282c39;
$LIGHT-BLACK: #3D4253;
$DARK-GREY: #A6ABBE;
$LIGHT-GREY: #E1E5F3;
$DEEP-BLUE: #21AFFF;
$LIGHT-BLUE: #A8E0FF;
$LIGHT-TEXT: #575C6C;
$SOFT-BLUE: #EAF5FF;
$DEEP-RED: #FF0331;
$LIGHT-RED: #FF7991;
$SOFT-RED: #FFEAEE;
$DEEP-GREEN: #31D860;
$LIGHT-GREEN: #8FFCAD;
$SOFT-GREEN: #CBFFD9;
